<head>
<style>
table {
    width:100%;

}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th {
    background-color: black;
    color: white;
}
</style>
</head>

<div class="container">

      <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
    

      <div class="masthead">
        <h1 class="text-muted">Triple-J Grocery</h1>
        <nav>
          <ul class="nav nav-justified">
            <li><a href="\products">Home</a></li>
            <li><a href="\suppliers\new">Add Supplier</a></li>
            
          
 
          </ul>
        </nav>
        <%= form_tag('/suppliers', :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
        <%= submit_tag "Search" %>
        <% end %>

      </div>

      <!-- Jumbotron -->
      <div class="jumbotron">
      

  
    <center><table id="t01">
<tr>
    <th>Supplier Name</th>
    <th>Supplier Address</th> 
    <th>Manager</th>
    <th>Contact Number</th>
    <th>Edit</th>
    <th>Delete</th>
  
  
    
  </tr>
<%@supplier.each {%>
<% |c| %>
  
  <tr>
    <td><%=c.supplier_name%></td>
    <td><%=c.supplier_address%></td>
    <td><%=c.supplier_manager%></td>
    <td><%=c.contact_number%></td>
   
    <td><%= link_to 'Edit', edit_supplier_path(c)%></td>
    <td><%= link_to 'Delete', c ,method: :delete%></td>

    
  </tr>
  <%}%>

  
</table></center>
      </div>
      





