<div class="container">
 <center><div class="jumbotron">
<%= form_for @sale do |f|%>

	<%= f.label :Product_Id%><br \>
	<%= f.text_field :item_ordered%><br \><br \>

	<%= f.label :No_of_items%><br \>
	<%= f.text_field :number_of_items%><br \><br \>

	<%= f.submit 'Place Order'%><br \> <br \>



    
      <!-- Main component for a primary marketing message or call to action -->
      
</div></center>
 </div> <!-- /container -->

 	<%end%>
